{% extends 'partials/dashboard_base.html' %}
{% load static %}
{% load humanize %}
{% block content %}
    <!-- Dashboard Section start -->
    <section class="dashboard-section body-collapse pay step crypto deposit-money">
        <div class="overlay pt-120">
            <div class="container-fruid">
                <div class="main-content">
                    <div class="head-area d-flex align-items-center justify-content-between">
                        <h4>Deposit Money</h4>
                        <div class="icon-area">
                            <img src="{% static 'dashboard/images/icon/support-icon.png' %}" alt="icon">
                        </div>
                    </div>
                    <form action="" method="POST" id="depositForm">
                        {% csrf_token %}
                        <div class="row justify-content-between pb-120">
                            <div class="col-xl-3 col-lg-4 col-md-5">
                                <div class="left-area">
                                    <ul>
                                        <li><a href="{% url 'core:deposit-list-payments' %}" class="single-link active">Choose Payment Method</a></li>
                                        <li><a href="javascript:void(0)" class="single-link active">Enter amount</a></li>
                                        <li><a href="javascript:void(0)" id="submitDepositForm" class="single-link last">Confirm Order</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xl-8 col-lg-8 col-md-7">
                                <div class="table-area">
                                        <div class="send-banance">
                                            <span class="mdr">How much you want to add?</span>
                                            <div class="input-area">
                                                <input class="xxlr" placeholder="400.00" onkeyup="CalculateBalance()" id="deposit-amount" name="deposit-amount" type="number" required>
                                                <select>
                                                    <option value="1">USD</option>
                                                    <option value="2">USD</option>
                                                    <option value="3">USD</option>
                                                </select>
                                            </div>
                                            <p>Available Balance<b>${{ credit_card.amount|intcomma }}</b></p>
                                        </div>  
                                    
                                </div>
                                <script>
                                    function CalculateBalance() {
                                        let available_balance = "{{ credit_card.amount }}"
                                        let depositAmount = document.getElementById("deposit-amount").value
                                        new_balance_val = available_balance - depositAmount
                                        if(new_balance_val < 0) {
                                            alert('You can only send $'+ available_balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ","))
                                            document.getElementById("deposit-amount").value = ''
                                        }
                                    }
                                </script>
                                <div class="footer-area mt-40">
                                    <a href="{% url 'core:deposit-list-payments' %}">Previous Step</a>
                                    <button id="submitFrmDeposit" type="submit" style="padding: 12px 40px; border-radius: 20px; background: #5732C6; border: 1px solid #DDE8FF; color: #fff" class="active">Next</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- Dashboard Section end -->
{% endblock content %}


    